body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 80%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#drawingCanvas {
  border: 2px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  width: 250px;
  background-color: #e2e2e2;
  border-radius: 8px;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.1);
}

.controls button {
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.controls button:hover {
  background-color: #45a049;
}

.controls input[type="color"],
.controls input[type="range"] {
  margin: 5px 0;
  width: 100%;
}

.controls label {
  font-size: 14px;
  color: #333;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
